DotNetCoreApi/DotNetCoreApi/obj/Debug/netcoreapp2.2/DotNetCoreApi.assets.cache
DotNetCoreApi/node_modules
DotNetCoreApi/DotNetCoreApi/obj
DotNetCoreApi/DotNetCoreApi/bin
/DotNetCoreApi/DotNetCoreApi/DotNetCoreApi.csproj.user
/DotNetCoreApi/DotNetCoreApi/obj/Debug/netcoreapp2.2/DotNetCoreApi.csproj.CoreCompileInputs.cache
